/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #000;
$white: #fff;
$facebook: #3b5998;
$google: #dd4b39;
$linkedin: #0077b5;
$pinterest: #bd081c;
$stumbleupon: #eb4924;
$tumblr: #35465c;
$twitter: #1da1f2;



@mixin resetlist() {
	list-style 	: none;
	list-style-type: none !important;
	margin 		: 0;
	padding 	: 0;
}

.is-Hidden {
	display: none;
}

.tout-social-text__icon {
	margin-left: 0.25em;
}

.tout-social-buttons {
	@include resetlist();

	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.tout-social-button {
	margin 		: 0.25em;
	z-index 	: 1;

	&.focus {
		outline-style: auto;
		outline-color: inherit;
		outline-width: 5px;
	}
}

.tout-social-link svg {
	height 			: 1.5em;
	width 			: 1.5em;
}

.tout-social-link {
	align-items 	: center;
	display 		: flex;
	padding 		: 0.5em;
}

.content-color-brand-on-white {
	.tout-social-link {
		background-color: $white;
	}

	.tout-social-link__email,
	.tout-social-link__email:hover,
	 {
		color: $black;
	}
	.tout-social-icon__email {
		fill: $black;
	}

	.tout-social-link__facebook,
	.tout-social-link__facebook:hover {
		color: $facebook;
	}
	.tout-social-icon__facebook {
		fill: $facebook;
	}

	.tout-social-link__google,
	.tout-social-link__google:hover {
		color: $google;
	}
	.tout-social-icon__google {
		fill: $google;
	}

	.tout-social-link__linkedin,
	.tout-social-link__linkedin:hover {
		color: $linkedin;
	}
	.tout-social-icon__linkedin {
		fill: $linkedin;
	}

	.tout-social-link__pinterest,
	.tout-social-link__pinterest:hover {
		color: $pinterest;
	}
	.tout-social-icon__pinterest {
		fill: $pinterest;
	}

	.tout-social-link__stumbleupon,
	.tout-social-link__stumbleupon:hover {
		color: $stumbleupon;
	}
	.tout-social-icon__stumbleupon {
		fill: $stumbleupon;
	}

	.tout-social-link__tumblr,
	.tout-social-link__tumblr:hover {
		color: $tumblr;
	}
	.tout-social-icon__tumblr {
		fill: $tumblr;
	}

	.tout-social-link__twitter,
	.tout-social-link__twitter:hover {
		color: $twitter;
	}
	.tout-social-icon__twitter {
		fill: $twitter;
	}
}

.content-color-white-on-brand {
	.tout-social-link,
	.tout-social-link:hover {
		color: $white;
	}
	.tout-social-icon {
		fill: $white;
	}
	.tout-social-link__email {
		background-color: $black;
	}
	.tout-social-link__facebook {
		background-color: $facebook;
	}
	.tout-social-link__google {
		background-color: $google;
	}
	.tout-social-link__linkedin {
		background-color: $linkedin;
	}
	.tout-social-link__pinterest {
		background-color: $pinterest;
	}
	.tout-social-link__stumbleupon {
		background-color: $stumbleupon;
	}
	.tout-social-link__tumblr {
		background-color: $tumblr;
	}
	.tout-social-link__twitter {
		background-color: $twitter;
	}
}
